.LoginContainer{
    display: flex;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px
}

.LoginContainer input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.LoginContainer input[type=number]{
    -moz-appearance: textfield;
}

