@keyframes bounceInLeftrank {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(-800px, -180px, 0) scale(0.1);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(25px, 25px, 0) scale(1);
  
    }
  
    75% {
      transform: translate3d(0px, 0px, 0);
    }
  
    90% {
      transform: translate3d(0px, 0px, 0);
    }
  
    to {
      transform: none;
    }
  }
  .revers-rounded{
    background: radial-gradient(circle at top right, transparent 70px, #0c1c22 71px) !important;
  }
  
  .bounceInLeftrank {
    animation-name: bounceInLeftrank;
  }
  .animated {
    animation-duration: 0.6s;
    animation-fill-mode: both;
  }
  .animated2 {
    animation-delay: 0.1s;
    animation-duration: 0.6s;
    animation-fill-mode: both;
  }
  .animated3 {
    animation-delay: 0.1s;
    animation-duration: 0.6s;
    animation-fill-mode: both;
  }

  .SelecterRounded .ant-select-selector{
    border-radius: 20px !important;
    height: 30px !important;
    background-color: #061319 !important;
}

.SelecterRounded .anticon-caret-down{
    margin-bottom: 5px;
  }
  