/* .ant-popover{
    left: 1750px !important;
} */

.addfriend input{
    color: #fff;
    margin-left: 10px;
    font-size: 16px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.noti .ant-drawer-content{
    z-index: 99 !important;
    height: calc(100vh - 185px) !important;
    transform: translateY(100px) translateX(-20px);
    background: transparent !important;
}